#!/usr/bin/make -f
# -*- makefile -*-

%:
	dh $@

package=usacloud

override_dh_installinit:

override_dh_auto_install:
	dh_auto_install
	install    -m 755 debian/${package}.bin           debian/${package}/usr/bin/${package}
	install    -m 644 debian/usacloud_bash_completion debian/${package}/etc/bash_completion.d/${package}

override_dh_usrlocal:
